## Exploratory Data Analysis

Use this notebook to get familiar with the datasets we have. There is 10 questions we need to answer during the EDA.


We shouldn't limit our EDA to these 10 questions. Let's be creative :).

In [ ]:
import sqlalchemy
import pandas as pd
url='postgresql://lhl_student:********@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project'
engine=sqlalchemy.create_engine(url)
print(engine)

Engine(postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
%load_ext sql
%sql postgresql://lhl_student:********@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project

'Connected: lhl_student@mid_term_project'

#### **Task 1**: Test the hypothesis that the delay is from Normal distribution. and that **mean** of the delay is 0. Be careful about the outliers.

In [ ]:
# to ignore outliers we set range to +-200
result = %sql select MAX(arr_delay), AVG(arr_delay), STDDEV(arr_delay) from flights WHERE arr_delay < 200 and arr_delay > -200
#df = result.DataFrame()
#df.head()
result

#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

In [ ]:
result = %sql select fl_date, AVG(arr_delay) from flights Group By fl_date
df = result.DataFrame()
df['fl_date'] = pd.to_datetime(df['fl_date'])
df.groupby(df['fl_date'].dt.strftime('%B'))['avg'].sum().sort_values()

#### **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

In [ ]:
import requests
import datetime
import pandas as pd
import numpy as np

In [ ]:
key = open("WWO KEY.txt",'r').read()
key

In [ ]:
def get_weather(city_code, date):
    
    end_date = date + datetime.timedelta(days=30)
    date = str(date.date()) 
    end_date = str(end_date.date())
    res = requests.get(f"https://api.worldweatheronline.com/premium/v1/past-weather.ashx?q={city_code}&date={date}&format=json&key={key}&tp=24&enddate={end_date}")
    result = res.json()
    print(res.status_code)
    if res.status_code > 300:
        return res.status_code

    #return (city_code, date, end_date)
    return result

def JSON_to_DF(WWO):
    city=[]
    date=[]
    weather=[]
    for i in WWO['data']['weather']:
        city.append(WWO['data']['request'][0]['query'][:3])
        date.append(i['date'])
        weather.append(i['hourly'][0]['weatherDesc'][0]['value'])

    df = pd.DataFrame({'city':city,'date': date,'weather': weather})
    return(df)

In [ ]:
weather_reports = pd.DataFrame(columns=['city','date','weather'])

cities=pd.Series( ['BOS','PVD','DEN','SMF'])
dates=pd.Series(['2018-01-02' , '2018-03-02','2018-05-02','2018-07-02','2018-09-02','2018-11-02'])
dates = pd.to_datetime(dates, yearfirst=True, format='%Y-%m-%d')

for city in cities:
  for date in dates:
    #print(get_weather(city, date))
    result = get_weather(city, date)
    print(result)
    data = JSON_to_DF(result)
    print(data)
    weather_reports=weather_reports.append(data,ignore_index=True)
    print(weather_reports)

In [ ]:
weather_reports.to_csv('weather_reports.csv', index=False)
df_w = weather_reports

In [ ]:
df_w = pd.read_csv('weather_reports.csv')

In [ ]:
snow = ['Blizzard', 'Blowing snow','Heavy snow','Light snow',
        'Light snow showers','Moderate or heavy snow showers','Moderate snow',
        'Patchy heavy snow','Patchy light snow', 'Patchy moderate snow',
        'Patchy snow possible']

rain = ['Heavy rain',  'Light drizzle', 'Light rain','Light rain shower',
        'Light sleet', 'Light sleet showers','Moderate or heavy rain shower',
        'Moderate or heavy rain with thunder','Moderate rain',
        'Moderate rain at times','Patchy light drizzle',
       'Patchy light rain', 'Patchy light rain with thunder',
        'Patchy rain possible','Torrential rain shower']

cloudy = ['Cloudy', 'Fog', 'Freezing fog','Mist', 'Overcast',
        'Partly cloudy','Thundery outbreaks possible']

sunny = ['Sunny']
def grouping(weather):
  if weather in snow:
    return 'snow'
  elif weather in rain:
    return 'rain'
  elif weather in cloudy:
    return 'cloudy'
  elif weather in sunny:
    return 'sunny'
  else:
    return weather

df_w['weather_type'] = df_w['weather'].apply(grouping)

In [ ]:
result = %sql select fl_date,origin,arr_delay,weather_delay from flights WHERE origin IN ('BOS','PVD','DEN','SMF')
df = result.DataFrame()
df.head()

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
1005367 rows affected.

      fl_date origin  arr_delay  weather_delay
0  2018-09-05    BOS      -10.0            NaN
1  2018-09-05    BOS       -9.0            NaN
2  2018-09-05    BOS      -11.0            NaN
3  2018-09-05    BOS        0.0            NaN
4  2018-09-05    BOS      -18.0            NaN

In [ ]:
df.fl_date = pd.to_datetime(df.fl_date, yearfirst=True)
df_w.date = pd.to_datetime(df_w.date, yearfirst=True)

table = df_w.merge(df, left_on=['city','date'], right_on=['origin','fl_date'], how='inner')
table

       city       date   weather  ... origin arr_delay weather_delay
0       BOS 2018-01-02  Overcast  ...    BOS      56.0           0.0
1       BOS 2018-01-02  Overcast  ...    BOS     -14.0           NaN
2       BOS 2018-01-02  Overcast  ...    BOS     -32.0           NaN
3       BOS 2018-01-02  Overcast  ...    BOS     -20.0           NaN
4       BOS 2018-01-02  Overcast  ...    BOS     -12.0           NaN
...     ...        ...       ...  ...    ...       ...           ...
246517  SMF 2018-12-02    Cloudy  ...    SMF     -19.0           NaN
246518  SMF 2018-12-02    Cloudy  ...    SMF       4.0           NaN
246519  SMF 2018-12-02    Cloudy  ...    SMF      30.0           0.0
246520  SMF 2018-12-02    Cloudy  ...    SMF     -10.0           NaN
246521  SMF 2018-12-02    Cloudy  ...    SMF       0.0           NaN

[246522 rows x 8 columns]

In [ ]:
table[['weather_type','arr_delay']].groupby('weather_type')['arr_delay'].agg(Mean='mean', Median='median', Min = 'min', Max=max)

                   Mean  Median    Min     Max
weather_type
cloudy         3.109324    -7.0 -117.0  1483.0
rain          15.276495    -1.0  -71.0  1304.0
snow          24.493964     6.0  -80.0  1090.0
sunny          1.217183    -7.0  -83.0  1426.0

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

In [ ]:
result = %sql select dep_time, taxi_out from flights TABLESAMPLE BERNOULLI(.1) limit 10000
df_taxi = result.DataFrame()
# replace nan with 0
df_taxi['dep_time']= df_taxi['dep_time'].fillna(0)
# Add leading 0 to time if missing
df_taxi.dep_time = df_taxi.dep_time.apply(lambda x: '%04.0f' % x)
# Add a column for the hour
df_taxi['hour'] = pd.to_datetime(df_taxi['dep_time'], format='%H%M').dt.hour
# Group by hour, averaging all the taxi times
df_taxi.groupby('hour').mean().sort_values(by='taxi_out', ascending=False)

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
10000 rows affected.

       taxi_out
hour
17    19.083736
8     19.019298
18    18.622540
20    18.368852
21    18.308157
9     18.293478
15    18.260135
10    17.893220
14    17.570447
0     17.560976
22    17.357895
19    17.327715
11    17.081250
7     17.077329
16    17.076923
12    16.837248
6     16.699074
13    16.504621
5     16.302260
23    15.884615
4     13.896552
2     13.000000
1     12.913043
3      9.800000

#### **Task 5**: What is the average percentage of delays that is already created before departure? (aka are arrival delays caused by departure delays?) Are airlines able to lower the delay during the flights?

In [ ]:
result = %sql select dep_delay, arr_delay, (arr_delay- dep_delay) as in_flight_delay from flights TABLESAMPLE BERNOULLI(.1) limit 10000
df_delay = result.DataFrame().dropna()

 * postgresql://lhl_student:***@mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com:5432/mid_term_project
10000 rows affected.

In [ ]:
time_savings = df_delay[df_delay['in_flight_delay']<0].shape[0]
additional_delay = df_delay[df_delay['in_flight_delay']>0].shape[0]
total = df_delay.shape[0]

print("Total: ", total)
print("Number of Flights made-up time during the flight: ", time_savings)
print("Number of Flight that added delays in flight: ", additional_delay)

print('Percentage of flights that saved time: ', (time_savings/total)*100)

Total:  9828
Number of Flights made-up time during the flight:  6946
Number of Flight that added delays in flight:  2607
Percentage of flights that saved time:  70.67562067562068

#### **Task 6**: How many states cover 50% of US air traffic?

#### **Task 7**: Test the hypothesis whether planes fly faster when there is the departure delay?

#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?